<!DOCTYPE html>
<html>
<head>
   <title>Claims Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        h1 {
            color: #007acc;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
        }

        .claim-info {
            margin-bottom: 20px;
        }

        .claim-bills {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2>List of Covered Diseases</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Disease Name</th>
                <th>ICD Code</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="disease : ${diseases}">
                <td th:text="${disease.diseasesName}"></td>
                <td th:text="${disease.ICDCode}"></td>
                <td th:text="${disease.description}"></td>
                <td th:text="${disease.status}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>